## Parte 1 :   Importando Bibliotecas que serão usadas

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk.tokenize import word_tokenize
from nltk import tokenize 
from nltk.stem import RSLPStemmer
from nltk.stem.porter import *

%matplotlib inline

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!


*  ## Lendo arquivo csv
*  ## Eliminando caracteres com tamanho 2 ou menor e deixando todos em caixa baixa

In [38]:
arquivo = pd.read_csv('results.csv')
texto = arquivo['text']

def eliminar_carac(text):
  return re.sub(r'(\W+|\d+|\b\w{0,2}\b)', ' ', text.lower())
texto = texto.apply(eliminar_carac)

texto = texto.apply(tokenize.word_tokenize, language='portuguese')
palavras = []


texto.head()

0    [documento, páginas, vazado, onu, calcula, que...
1    [volta, israel, onde, fez, parte, comitiva, pa...
2    [ditador, nicolás, maduro, não, despacha, palá...
3    [steve, bannon, estrategista, donald, trump, d...
4    [entre, março, º, abril, pessoas, foram, presa...
Name: text, dtype: object

## Eliminando as stopwords : Usando a biblioteca nltk
## Algoritmo Build Index : Usada para uma indexação simples

In [39]:
stopwords = nltk.corpus.stopwords.words('portuguese')

def eliminar_stopwords(text):
  palavras = []
  for palavra in text:
    if(palavra not in stopwords):
      palavras.append(palavra)
  return palavras 

def build_index(arquivo):
  numero_da_lista = 0
  dic_index = {}
  for documento in arquivo:
    numero_da_lista += 1
    doc = eliminar_stopwords(documento)
    for palavra in doc:
      ocorrencia = doc.count(palavra)
      if palavra not in dic_index:
        dic_index[palavra] = []
      par = (numero_da_lista, ocorrencia)
      if par not in dic_index[palavra]:
         dic_index[palavra].append(par)
  return dic_index
  
  
tabela = build_index(texto)
tabela = {'palavra' : list(tabela.keys()),
       'doc|ocorrencia' : list(tabela.values()) }
df = pd.DataFrame(tabela)
df.head()
# df.to_csv('index.csv') salvar o arquivo em csv

     palavra                                     doc|ocorrencia
0  documento                [(1, 1), (26, 1), (58, 1), (80, 1)]
1    páginas                [(1, 1), (26, 1), (58, 1), (80, 1)]
2     vazado                [(1, 1), (26, 1), (58, 1), (80, 1)]
3        onu  [(1, 1), (6, 1), (26, 1), (34, 1), (58, 1), (6...
4    calcula                [(1, 1), (26, 1), (58, 1), (80, 1)]

## Parte 2